## Problem Statement

#### 2019 Iowa Liquor Sales

This data contains the spirits purchase information of Iowa Class “E” liquor licensees by product and date of purchase for calendar year 2019. Need to explore the data and analyse the current market for liquor sales.

### Data Dictionary

| #  | Column Name           | Description                                                                                       | Type        |
|----|-----------------------|---------------------------------------------------------------------------------------------------|-------------|
| 1  | Invoice/Item          | Number Concatenated invoice and line number associated with the liquor order                      | Plain Text  |
| 2  | Date                  | Date of order                                                                                     | Date & Time |
| 3  | Store Number          | Unique number assigned to the store who ordered the liquor                                        | Plain Text  |
| 4  | Store Name            | Name of store who ordered the liquor                                                              | Plain Text  |
| 5  | Address               | Address of store who ordered the liquor                                                           | Plain Text  |
| 6  | City                  | City where the store who ordered the liquor is located                                            | Plain Text  |
| 7  | Zip Code              | Zip code where the store who ordered the liquor is located                                        | Plain Text  |
| 8  | Store Location        | The Address, City, State and Zip Code are geocoded to provide geographic coordinates              | Point       |
| 9  | County Number         | Iowa county number for the county where store who ordered the liquor is located                   | Plain Text  |
| 10 | County                | County where the store who ordered the liquor is located                                          | Plain Text  |
| 11 | Category              | Category code associated with the liquor ordered                                                  | Plain Text  |
| 12 | Category Name         | Category of the liquor ordered                                                                    | Plain Text  |
| 13 | Vendor Number         | The vendor number of the company for the brand of liquor ordered                                  | Plain Text  |
| 14 | Vendor Name           | The vendor name of the company for the brand of liquor ordered                                    | Plain Text  |
| 15 | Item Number           | Item number for the individual liquor product ordered.                                            | Plain Text  |
| 16 | Item Description      | Description of the individual liquor product ordered                                              | Plain Text  |
| 17 | Pack                  | The number of bottles in a case for the liquor ordered                                            | Number      |
| 18 | Bottle Volume (ml)    | Volume of each liquor bottle ordered in milliliters                                               | Number      |
| 19 | State Bottle Cost     | The amount that Alcoholic Beverages Division paid for each bottle of liquor ordered               | Number      |
| 20 | State Bottle Retail   | The amount the store paid for each bottle of liquor ordered                                       | Number      |
| 21 | Bottles Sold          | The number of bottles of liquor ordered by the store                                              | Number      |
| 22 | Sale (Dollars)        | Total cost of liquor order (number of bottles multiplied by the state bottle retail)              | Number      |
| 23 | Volume Sold (Liters)  | Total volume of liquor ordered in liters. (i.e. (Bottle Volume (ml) x Bottles Sold)/1,000)        | Number      |
| 24 | Volume Sold (Gallons) | Total volume of liquor ordered in gallons. (i.e. (Bottle Volume (ml) x Bottles Sold)/3785.411784) | Number      |

### Load required libraries & data and view the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#please update seaborn
# !pip install -U seaborn

In [14]:
# Read data into pandas dataframe df
df = pd.read_csv('Liquor_Sales_Iowa_Subset.csv')

In [3]:
# View the top 5 rows of the data
df.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-20153900017,06/21/2019,5157,Kimmes Manson Country Store #10,208 Main St,Manson,50563.0,POINT (-94.534532 42.517855),13.0,CALHOUN,...,64865,Fireball Cinnamon Whiskey PET,12,750,8.98,13.47,12,161.64,9.00,2.37
1,INV-23483600042,11/26/2019,3456,Quick Shop / Clear Lake,904 N 8th St,ClearLake,50428.0,POINT (-93.378772 43.142868),17.0,CERRO GORD,...,19061,Jim Beam Mini,12,50,5.40,8.10,1,8.10,0.05,0.01
2,INV-24149400014,12/24/2019,5138,Kellogg Country Store,"103, Blair St",Kellogg,50135.0,POINT (-92.903113 41.7144),50.0,JASPER,...,37413,Popov 80prf,48,200,1.75,2.63,2,5.26,0.40,0.10
3,INV-18856700025,04/19/2019,4622,Quik Trip #544 / SE 14th DM,"3941, SE 14th St",Des Moines,50320.0,POINT (-93.596748 41.548497),77.0,POLK,...,64870,Fireball Cinnamon,48,100,0.90,1.35,48,64.80,4.80,1.26
4,INV-23651100057,12/03/2019,3928,Smokin' Joe's #12 Tobacco and Liquor Outlet,465 Hwy 965 Unit G,North Liberty,52317.0,POINT (-91.60759 41.739524),52.0,JOHNSON,...,19064,Jim Beam,24,375,5.50,8.25,1,8.25,0.37,0.09

In [4]:
# View the last 5 rows od the data
df.tail()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
47602,INV-20011400026,06/15/2019,5600,H & A Mini Mart,145 University Ave,Des Moines,50314.0,POINT (-93.61947 41.600419),77.0,POLK,...,38180,Titos Handmade Mini,5,600,12.80,19.20,5,96.00,3.0,0.79
47603,INV-23203300004,11/13/2019,2502,Hy-Vee Wine and Spirits / Ankeny,410 North Ankeny Blvd,Ankeny,50021.0,NaN,77.0,POLK,...,11788,Black Velvet,6,1750,10.45,15.68,48,752.64,84.0,22.19
47604,INV-18361900036,03/26/2019,5126,Price Chopper / Merle Hay #1315,4343 Merle Hay Rd,Des Moines,50310.0,POINT (-93.697647 41.63740800000001),77.0,POLK,...,11296,Crown Royal,12,750,15.59,23.39,12,280.68,9.0,2.37
47605,INV-18319400012,03/25/2019,3690,Target Store T-1792 / Waterloo,1501 E San Marnan,Waterloo,50702.0,POINT (-92.325387 42.464521),7.0,BLACK HAWK,...,35918,Five O'Clock Vodka,6,1750,7.20,10.80,6,64.80,10.5,2.77
47606,INV-21915100012,09/16/2019,5309,Royal Food,1443 2nd Ave,Des Moines,50314.0,POINT (-93.619783 41.605229),77.0,POLK,...,24157,Hawkeye Blended Whiskey,12,1000,4.39,6.59,12,79.08,12.0,3.17

In [7]:
# Check dimensions of the dataset
df.shape

(47607, 24)

In [8]:
# Check the dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47607 entries, 0 to 47606
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Invoice/Item Number    47607 non-null  object
 1   Date                   47607 non-null  object
 2   Store Number           47607 non-null  int64
 3   Store Name             47607 non-null  object
 4   Address                47479 non-null  object
 5   City                   47479 non-null  object
 6   Zip Code               47479 non-null  float64
 7   Store Location         43215 non-null  object
 8   County Number          47479 non-null  float64
 9   County                 47479 non-null  object
 10  Category               47536 non-null  float64
 11  Category Name          47536 non-null  object
 12  Vendor Number          47607 non-null  float64
 13  Vendor Name            47607 non-null  object
 14  Item Number            47607 non-null  int64
 15  Item Description       47607 non-null  object
 16  Pack                   47607 non-null  int64
 17  Bottle Volume (ml)     47607 non-null  int64
 18  State Bottle Cost      47607 non-null  float64
 19  State Bottle Retail    47607 non-null  float64
 20  Bottles Sold           47607 non-null  int64
 21  Sale (Dollars)         47607 non-null  float64
 22  Volume Sold (Liters)   47607 non-null  float64
 23  Volume Sold (Gallons)  47607 non-null  float64
dtypes: float64(9), int64(5), object(10)
memory usage: 8.7+ MB

In [9]:
# View the data summary of numeric features (.T just transposes the information and is done for better readability)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Store Number,47607.0,3.891603e+03,1138.732237,2106.00,2623.000,3949.00,4969.00,9042.00
Zip Code,47479.0,5.126300e+04,988.061136,50002.00,50316.000,51101.00,52302.00,57222.00
County Number,47479.0,5.720866e+01,27.331385,1.00,31.000,62.00,77.00,99.00
Category,47536.0,1.052664e+06,94681.181856,1011100.00,1012200.000,1031200.00,1062500.00,1901200.00
Vendor Number,47607.0,2.654349e+02,136.881433,35.00,115.000,260.00,395.00,978.00
Item Number,47607.0,4.821295e+04,66280.208921,159.00,26828.000,38177.00,64864.00,994217.00
Pack,47607.0,1.245624e+01,8.173306,1.00,6.000,12.00,12.00,48.00
Bottle Volume (ml),47607.0,8.760003e+02,520.239029,20.00,750.000,750.00,1000.00,6000.00
State Bottle Cost,47607.0,1.027744e+01,9.511776,0.89,5.505,8.25,12.96,1166.00
State Bottle Retail,47607.0,1.541820e+01,14.267728,1.34,8.260,12.38,19.44,1749.00
Bottles Sold,47607.0,1.146783e+01,32.389047,1.00,3.000,6.00,12.00,1824.00
Sale (Dollars),47607.0,1.486965e+02,505.429099,1.34,33.750,74.98,148.56,22952.16
Volume Sold (Liters),47607.0,9.718569e+00,42.853351,0.02,1.500,4.80,10.50,3192.00
Volume Sold (Gallons),47607.0,2.561952e+00,11.320854,0.00,0.390,1.26,2.77,843.23

In [10]:
# Lets also get the summary of categorical features
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Invoice/Item Number,47607,47607,INV-17191700007,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,47607,261,07/05/2019,328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Store Number,47607.0,NaN,NaN,NaN,3891.603105,1138.732237,2106.0,2623.0,3949.0,4969.0,9042.0
Store Name,47607,1704,Hy-Vee #3 / BDI / Des Moines,433,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Address,47479,1692,3221 SE 14th St,569,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,47479,421,Des Moines,4054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zip Code,47479.0,NaN,NaN,NaN,51262.997725,988.061136,50002.0,50316.0,51101.0,52302.0,57222.0
Store Location,43215,1561,POINT (-93.596754 41.554101),433,NaN,NaN,NaN,NaN,NaN,NaN,NaN
County Number,47479.0,NaN,NaN,NaN,57.208661,27.331385,1.0,31.0,62.0,77.0,99.0
County,47479,129,POLK,7923,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,47536.0,NaN,NaN,NaN,1052664.386991,94681.181856,1011100.0,1012200.0,1031200.0,1062500.0,1901200.0
Category Name,47536,51,American Vodkas,7262,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vendor Number,47607.0,NaN,NaN,NaN,265.434936,136.881433,35.0,115.0,260.0,395.0,978.0
Vendor Name,47607,114,DIAGEO AMERICAS,7788,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item Number,47607.0,NaN,NaN,NaN,48212.948474,66280.208921,159.0,26828.0,38177.0,64864.0,994217.0
Item Description,47607,1922,Black Velvet,1264,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pack,47607.0,NaN,NaN,NaN,12.456235,8.173306,1.0,6.0,12.0,12.0,48.0
Bottle Volume (ml),47607.0,NaN,NaN,NaN,876.000273,520.239029,20.0,750.0,750.0,1000.0,6000.0
State Bottle Cost,47607.0,NaN,NaN,NaN,10.277445,9.511776,0.89,5.505,8.25,12.96,1166.0
State Bottle Retail,47607.0,NaN,NaN,NaN,15.418198,14.267728,1.34,8.26,12.38,19.44,1749.0
Bottles Sold,47607.0,NaN,NaN,NaN,11.46783,32.389047,1.0,3.0,6.0,12.0,1824.0
Sale (Dollars),47607.0,NaN,NaN,NaN,148.696474,505.429099,1.34,33.75,74.98,148.56,22952.16
Volume Sold (Liters),47607.0,NaN,NaN,NaN,9.718569,42.853351,0.02,1.5,4.8,10.5,3192.0
Volume Sold (Gallons),47607.0,NaN,NaN,NaN,2.561952,11.320854,0.0,0.39,1.26,2.77,843.23

#### Observations

### Data Cleanup

In [17]:
# Rename the column names with special characters
df.columns
# df.rename(columns={'Invoice/Item Number':'Invoice/Item_Number','Store Number:Store_Number','Store Name':'Store_Name',\
#                   'Zip Code': 'Zip_Code', 'Store Location': 'Store_Location','County Number': 'County_Number', \
#                    'Category Name': 'Category_Name', 'Vendor Number':'Vendor_Number','Vendor Name':'Vendor_Name' \
#                   'Item Number':'Item_Number','Item Description':'Item_Description','Bottle Volume (ml)': 'Bottle_Volume_ml'\
#                   'State Bottle Cost':'State_Bottle_Cost','State Bottle Retail':'State_Bottle_Retail',\
#                    'Bottles Sold':'Bottles_Sold', 'Sale (Dollars): Sale_Dollars', })
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['Invoice/Item_Number', 'Date', 'Store_Number', 'Store_Name', 'Address',
       'City', 'Zip_Code', 'Store_Location', 'County_Number', 'County',
       'Category', 'Category_Name', 'Vendor_Number', 'Vendor_Name',
       'Item_Number', 'Item_Description', 'Pack', 'Bottle_Volume_ml',
       'State_Bottle_Cost', 'State_Bottle_Retail', 'Bottles_Sold',
       'Sale_Dollars', 'Volume_Sold_Liters', 'Volume_Sold_Gallons'],
      dtype='object')

In [ ]:
# Check for NULL values (pick up only the features where null value > 0)

In [ ]:
# Drop observations with 'Address' as null

In [ ]:
# Check observations where 'Catgeory' is missing

In [ ]:
# Let's get list of items corresponding to the missing category

In [ ]:
# Categories for the above list of items seems to missing in the data

In [ ]:
# Lets reset the index as we have dropped rows during clean up process

### EDA

From the above data below are some of the questions that we would want to get an answer for:
 - Which are the top 10 Items bought based on frequency?
 - Which Category of liquor sells the most in number and which gives highest sales?
 - Which store has highest sales of liquor?
 - What is the relation between State Bottle Cost and State Bottle Retail?
 - Which are the top 10 cities which show highest sales of liquor?
 - What is the range of profit across top 10 categories?
 - Who are the Vendors for the top selling categories?
 - What volume of bottle gets sold the most?

#### The top 10 Items bought based on frequency

#### Category of liquor that sells the most

#### Store with highest sales of liquor

#### Relation between State Bottle Cost and State Bottle Retail

'State Bottle Cost' is having a linear relationship with 'State Bottle Retail'. A new feature 'Profit' can be derived from the 2 given features

Let's find the list of items that are giving a profit of more than 100 dollars

#### Top 10 cities which show highest sales of liquor

#### Range of profit across top 10 categories

In [ ]:
list_top_cat = df['Category Name'].value_counts()[0:10].index.tolist()

In [ ]:
temp_df2 = df[df['Category Name'].isin(list_top_cat)]
# Let's remove the 2 outliers observed earlier
temp_df2 = temp_df2[temp_df2['State Retail Profit'] < 100]

In [ ]:
plt.figure(figsize=(10,5))
sns.boxplot(y='Category Name', x = 'State Retail Profit', data=temp_df2)

#### List of Vendors providing the top 10 category items

#### Volume of bottle gets sold the most

#### Numerical factors affecting Sales

#### Correlation

### Summary

### Happy Learning